
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<div class="nav-scrollable" style="padding-top: 20rem; "onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="student">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Student
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="studentletter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Send Letter
            </NavLink>
        </div>       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="course">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Course
            </NavLink>
        </div>
    </nav>
</div> 
 